providers = ["nodejs", "python"]

[phases.setup]
nixPkgs = ["pkgs.python3", "pkgs.gnumake", "pkgs.gcc"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

[variables]
NODE_ENV = "production"

